.banner{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.bannerImage{
    border-radius: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
@media screen and (max-width: 720px) {
    .bannerImage{
        margin-top: -31px;
        width: 200%;
        height: 150px;
        border-radius: 20px;
    }
}