.container{
    margin: 20px 30px;
    display: block;
    text-align: center;
}

.imagem{
    width: 50%;
}

.texto{
    font-size: 2em;
    margin: 10px 0;
    color: var(--cor-branco);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.553);
}

.botao{
    background-color: var(--cor-subTitulo);
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 2em;
    margin: 10px;
}


.link{
    text-decoration: none;
    color: var( --cor-branco);
}